[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.dopLabSort
Exec=/usr/bin/ru.auroraos.dopLabSort
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=dopLabSort
ExecDBus=/usr/bin/ru.auroraos.dopLabSort
