[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.dopLabList
Exec=/usr/bin/ru.auroraos.dopLabList
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=dopLabList
ExecDBus=/usr/bin/ru.auroraos.dopLabList
