[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.Project2
Exec=/usr/bin/ru.auroraos.Project2
Name=Laba2
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=Project2
ExecDBus=/usr/bin/ru.auroraos.Project2
